{% extends 'flatpages/default.html' %}

{% block title %}
<h1><span style="color: #ffffff;">HILLS</span></h1>
{% endblock title %}

{% block content %}
    {% if hills %}
        {% for hill in hills %}
<p style="text-align: left;"><strong><span style="color: #000000;">___________________________________________________________________________________________________________________________</span></strong></p>
        <p style="text-align: left;"><strong><span style="color: #000000;">{{ hill.title }}</span></strong></p>
<p style="text-align: center;"><strong><span style="color: #000000;">{{ hill.content }}</span></strong></p>
<p style="text-align: left;"><strong><span style="color: #000000;">{{ hill.text }}</span></strong></p>
<p style="text-align: left;"><strong><span style="color: #000000;">{{ hill.time_in|date:'d.m.Y' }}&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Категория:&nbsp;{% for category in hill.category.all %}{{ category.name_category }}{% endfor %}&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Автор:&nbsp;{{ hill.author }}</span></strong></p>
<p style="text-align: left;"><strong><span style="color: #000000;">___________________________________________________________________________________________________________________________</span></strong></p>
        {% endfor %}
            {% else %}
                <h2>Объявлений нет!</h2>
    {% endif %}
{% endblock content %}