{% extends 'flatpages/default.html' %}

{% block title %}
<h1><span style="color: #ffffff;">SPELLMASTERS</span></h1>
{% endblock title %}

{% block content %}
    {% if spellmasters %}
        {% for spellmaster in spellmasters %}
<p style="text-align: left;"><strong><span style="color: #000000;">___________________________________________________________________________________________________________________________</span></strong></p>
        <p style="text-align: left;"><strong><span style="color: #000000;">{{ spellmaster.title }}</span></strong></p>
<p style="text-align: center;"><strong><span style="color: #000000;">{{ spellmaster.content }}</span></strong></p>
<p style="text-align: left;"><strong><span style="color: #000000;">{{ spellmaster.text }}</span></strong></p>
<p style="text-align: left;"><strong><span style="color: #000000;">{{ spellmaster.time_in|date:'d.m.Y' }}&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Категория:&nbsp;{% for category in spellmaster.category.all %}{{ category.name_category }}{% endfor %}&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Автор:&nbsp;{{ spellmaster.author }}</span></strong></p>
<p style="text-align: left;"><strong><span style="color: #000000;">___________________________________________________________________________________________________________________________</span></strong></p>
        {% endfor %}
            {% else %}
                <h2>Объявлений нет!</h2>
    {% endif %}
{% endblock content %}