{% extends 'flatpages/default.html' %}

{% block title %}
<h1><span style="color: #ff0000;">OUR CONTACTS</span></h1>
{% endblock title %}

<p>{% block content %}</p>
<blockquote>
<p style="text-align: left;"><strong>e-mail:&nbsp; &nbsp;&nbsp;</strong><span style="color: #ffffff;"><a style="color: #ffffff;" href="mailto:info@cheburashka.com">info@RPG.com</a></span></p>
<p style="text-align: left;"><strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Телефон для связи:</strong>&nbsp; &nbsp;+7 (812) 000-11-22 (Санкт-Петербург)</p>
<p style="text-align: center;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; +7 (499) 000-33-44 (Москва)</p>
</blockquote>
<p>&nbsp;{% endblock content %}</p>